<!-- prettier-ignore -->
{% extends 'template.html' %}
{% block title %}Flavours 101{% endblock %}
{% load static %}
{% block form_table_div %}

<div class="goback">
    <button class="goback-btn" type="button" onclick="location.href='/flsys/Healthy/'">Go back</button>
</div>

<div>
    <button class="rating-button" type="button" onclick="location.href='/flsys/RatePancake/'">Rate this Recipe</button>
</div>

<div class="page">
    <div class="recipe-page">
        <section class="single-recipe">
            <img src="{% static 'img/pinakbet.jpg' %}" class="img recipe-single-img" />
            <article class="recipe-info">
                <h1 class="single-label">Filipino Pinakbet</h1>
                <p>
                    This Filipino Pinakbet dish is both nutritious and delicious! This famous Filipino stew is a beautiful combination of local vegetables, pork belly, and shrimp paste that works well as a main meal or as a side dish alongside fried fish or grilled meat. This Filipino vegetable meal is one of the simplest to prepare, yet it is delicious and healthy. It does, however, take some cutting. To ensure that all of the vegetables cook equally, cut them all to the same sizes. 
                </p>
                <cite class="recipe-citation">From
                    <a href="https://panlasangpinoy.com/pinakbet-tagalog-recipe-knr-sc/">Panlasang Pinoy</a>
                    by Vanjo Merano
                </cite>
                <div class="recipe-icons">
                    <article>
                        <i class="fa-solid fa-clock" style="color: #e30b5d; font-size: 25px"></i>
                        <h5>Prep. Time</h5>
                        <p>15 min.</p>
                    </article>
                    <article>
                        <i class="fa fa-clock-o" aria-hidden="true" style="color: #e30b5d; font-size: 25px"></i>
                        <h5>Cooking Time</h5>
                        <p>25 min.</p>
                    </article>
                    <article>
                        <i class="fa-solid fa-user-group" style="color: #e30b5d; font-size: 25px"></i>
                        <h5>Serving</h5>
                        <p>6 Servings</p>
                    </article>
                </div>
            </article>
        </section>
        <section class="recipe-content">
            <article class="recipe-ingredient">
                <div>
                    <h4 class="single-label2">Ingredients</h4>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1 lb lechon kawali sliced</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1 piece Knorr Shrimp Cube</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">12 pieces sitaw cut into 2 inch length</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1/2 piece kalabasa cubed</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">12 pieces okra</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1 piece Chinese eggplant sliced</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1 piece ampalaya sliced</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1 piece kamote cubed (optional)</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">2 pieces tomato cubed</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">2 thumbs ginger crushed (optional)</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1 piece onion chopped</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">4 cloves garlic crushed</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">2 teaspoons bagoong alamang</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">2 ½ cups water</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">3 tablespoons cooking oil</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">¼ teaspoon ground black pepper</p>
                    </div>
                </div>  
            </article>
            <article class="instruction-main">
                <h4 class="single-label2">Instructions</h4>
                <div class="instruction">
                    <header>
                        <p>step 1</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            In a pot, heat the cooking oil. Sauté onion and garlic. Add ginger and continue to cook until the onion softens.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 2</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Add lechon kawali. Saute for 1 minute.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 3</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Pour water. Let boil.  
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 4</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Add Knorr Shrimp Cube. Cover the pot and cook in medium heat for 20 minutes.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 5</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Add tomato and bagoong alamang. Stir. Cover the pot. Cook for 3 minutes.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 6</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Put the kalabasa and kamote into the pot. Cook for 7 minutes.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 7</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Add sitaw, okra, ampalaya, and eggplant. Stir. Cover the pot and cook for 5 minutes.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 8</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Season with ground black pepper and add remaining lechon kawali. Cook for minutes.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 9</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Transfer to a serving plate. Serve. Share and Enjoy!
                        </p>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>

{% endblock %}