<!-- prettier-ignore -->
{% extends 'template.html' %}
{% block title %}Flavours 101{% endblock %}
{% load static %}
{% block form_table_div %}

<script type="text/javascript">
	function computeAlternatives(item) {
	    var doc = document.getElementById('computation');
	    doc.innerHTML = item;
	    doc.style = "display:block";
	}
</script>

<div class="goback">
    <button class="goback-btn" type="button" onclick="location.href='/flsys/Mains/'">Go back</button>
</div>

<div>
    <button class="rating-button" type="button" onclick="location.href='/flsys/RatePancake/'">Rate this Recipe</button>
</div>

<div class="page">
    <div class="recipe-page">
        <section class="single-recipe">
            <img src="{% static 'img/lumpia.jpg' %}" class="img recipe-single-img" />
            <article class="recipe-info">
                <h1 class="single-label">Filipino Spring Rolls (Lumpiang Shanghai)</h1>
                <p>
                    Lumpia, also known as Lumpiang Shanghai in Filipino, is a Filipino egg roll dish. Ground pork, minced carrots, and minced onion make up the majority of the filler or meat combination. Seasonings and spices are added to the mixture. It is then individually wrapped and rolled in lumpia wrappers, which are thin flour sheets.
                </p>
                <cite class="recipe-citation">From
                    <a href="https://www.yummy.ph/lessons/cooking/how-to-make-lumpiang-shanghai-recipes-better-a00249-20210725-lfrm?ref=site_search">Yummy.ph</a>
                    by  Roselle Miranda, July, 25, 2021
                </cite>
                <div class="recipe-icons">
                    <article>
                        <i class="fa-solid fa-clock" style="color: #e30b5d; font-size: 25px"></i>
                        <h5>Prep. Time</h5>
                        <p>30 min.</p>
                    </article>
                    <article>
                        <i class="fa fa-clock-o" aria-hidden="true" style="color: #e30b5d; font-size: 25px"></i>
                        <h5>Cooking Time</h5>
                        <p>10 min.</p>
                    </article>
                    <article>
                        <i class="fa-solid fa-user-group" style="color: #e30b5d; font-size: 25px"></i>
                        <h5>Serving</h5>
                        <p>6 servings</p>
                    </article>
                </div>
            </article>
        </section>
        <section class="recipe-content">
            <article class="recipe-ingredient">
                <div>
                    <h4 class="single-label2">Ingredients</h4>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">2½ lbs. ground pork</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1 piece Knorr Pork Cube</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">50 pieces lumpia wrapper</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">3/4 cup carrot minced</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">½ piece garlic minced</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">2 pieces onions minced</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">2 pieces eggs</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">¼ cup parsley minced</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">½ teaspoon ground black pepper</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1 teaspoon salt</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1 teaspoon Sesame oil</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">2 cups cooking oil</p>
                    </div>
                </div>          
            </article>
            <article class="instruction-main">
                <h4 class="single-label2">Instructions</h4>
                <div class="instruction">
                    <header>
                        <p>step 1</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            In a mixing bowl, combine the ground pork, carrot, garlic, onion, and parsley. Mix well.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 2</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Add the egg, black pepper, salt, and sesame oil. Continue to mix until all of the ingredients are thoroughly combined.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 3</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Crush the Knorr pork cube and add it into the mixture. Combine all of the ingredients completely.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 4</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Put 1 to 1½ tablespoons of meat mixture over a piece of lumpia wrapper, then spread. Wrap and roll to secure the mixture. Continue this step until the mixture is completely consumed.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 5</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            In a cooking pot over low to medium heat, heat the oil. The lumpia should be deep fried till golden brown. Remove from the pot and place on a plate with paper towel.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 6</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Transfer to a serving platter. Serve with a sweet and sour sauce on the side. Enjoy and share!
                        </p>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>

{% endblock %}