<!-- prettier-ignore -->
{% extends 'template.html' %}
{% block title %}Flavours 101{% endblock %}
{% load static %}
{% block form_table_div %}

<script type="text/javascript">
	function computeAlternatives(item) {
	    var doc = document.getElementById('computation');
	    doc.innerHTML = item;
	    doc.style = "display:block";
	}
</script>

<div class="goback">
    <button class="goback-btn" type="button" onclick="location.href='/flsys/Mains/'">Go back</button>
</div>

<div>
    <button class="rating-button" type="button" onclick="location.href='/flsys/RatePancake/'">Rate this Recipe</button>
</div>

<div class="page">
    <div class="recipe-page">
        <section class="single-recipe">
            <img src="{% static 'img/afritada.jpg' %}" class="img recipe-single-img" />
            <article class="recipe-info">
                <h1 class="single-label">Chicken Afritada</h1>
                <p>
                    Afritada, also known as afritadang manok, is a Filipino chicken stew with a tomato-based sauce. It's a simple dish that can be prepared on any regular days. It's perfect for lunch, and it's even better with some warm white rice. This simple local chicken dish is likely to become a filipino family favorite. It's made with full chicken pieces, large chunks of potatoes and carrots, and a tasty tomato sauce.
                </p>
                <cite class="recipe-citation">From
                    <a href="https://panlasangpinoy.com/chicken-afritada-recipe/">Panlasang Pinoy</a>
                    by Vanjo Merano
                </cite>
                <div class="recipe-icons">
                    <article>
                        <i class="fa-solid fa-clock" style="color: #e30b5d; font-size: 25px"></i>
                        <h5>Prep. Time</h5>
                        <p>10 min.</p>
                    </article>
                    <article>
                        <i class="fa fa-clock-o" aria-hidden="true" style="color: #e30b5d; font-size: 25px"></i>
                        <h5>Cooking Time</h5>
                        <p>45 min.</p>
                    </article>
                    <article>
                        <i class="fa-solid fa-user-group" style="color: #e30b5d; font-size: 25px"></i>
                        <h5>Serving</h5>
                        <p>4 servings</p>
                    </article>
                </div>
            </article>
        </section>
        <section class="recipe-content">
            <article class="recipe-ingredient">
                <div>
                    <h4 class="single-label2">Ingredients</h4>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1½ lbs. Chicken cut into serving pieces</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">2 piece potato cubed</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1 piece carrot sliced</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">8 oz. tomato sauce</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">3 pieces hotdog sliced</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">½ cup green peas</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">3 pieces bay leaves</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1 piece red onion chopped</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">2 teaspoons garlic minced</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">3 cups chicken broth</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">½ teaspoon sugar</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">3 tablespoons cooking oil</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">Salt and ground black pepper to taste</p>
                    </div>
                </div>
            </article>
            <article class="instruction-main">
                <h4 class="single-label2">Instructions</h4>
                <div class="instruction">
                    <header>
                        <p>step 1</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            In a cooking saucepan, heat the oil. Saute the onion and garlic in the saucepan until the onion is softened.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 2</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Add chicken. Cook for 30 seconds. Turn it over and cook the other side for another 30 seconds.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 3</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Pour tomato sauce and chicken broth. Cover. Let boil.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 4</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Add dried bay leaves. Cover the cooking pot. Continue to cook in medium heat for 30 minutes.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 5</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Add hotdogs and carrot. Cook for 3 minutes.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 6</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Add potato. Cover the pot and cook for 8 minutes.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 7</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Add green peas. Cook for 2 minutes.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 8</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Season with salt and ground black pepper
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 9</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Top with grated cheddar cheese and serve hot with warm rice. Enjoy!
                        </p>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>

{% endblock %}