<!-- prettier-ignore -->
{% extends 'template.html' %}
{% block title %}Flavours 101{% endblock %}
{% load static %}
{% block form_table_div %}

<div class="goback">
	<button class="goback-btn" type="button" onclick="location.href='/flsys/Recipes/'">Go back</button>
</div>  

<h1 class="recipe-label2">
	Easy Recipes for Meals<br />
</h1>

<br /><br />

<div class="recipes">
	<section>
		<a href="/flsys/ChickenAdobo/" >
			<img src="{% static 'img/Chicken.jpg' %}" width="270" height="200" alt="flavours101"/>
			<figcaption>Chicken Adobo</figcaption>
			</a>
	</section>
	<section>
		<a href="/flsys/FilipinoSpringRolls/">
			<img src="{% static 'img/lumpia.jpg' %}" width="270" height="200" alt="flavours101" />
			<figcaption>Filipino Spring Rolls</figcaption>
			</a>
	</section>
	<section>
		<a href="/flsys/ChickenAfritada/" >
			<img src="{% static 'img/afritada.jpg' %}" width="270" height="200" alt="flavours101"/>
			<figcaption>Chicken Afritada</figcaption>
			</a>
	</section>
</div>

{% endblock %}