<!-- prettier-ignore -->
{% extends 'template.html' %}
{% block title %}Flavours 101{% endblock %}
{% load static %}
{% block form_table_div %}

<div class="goback">
    <button class="goback-btn" type="button" onclick="location.href='/flsys/Sweets/'">Go back</button>
</div>

<div>
    <button class="rating-button" type="button" onclick="location.href='/flsys/RatePancake/'">Rate this Recipe</button>
</div>

<div class="page">
    <div class="recipe-page">
        <section class="single-recipe">
            <img src="{% static 'img/cupcake.jpg' %}" class="img recipe-single-img" />
            <article class="recipe-info">
                <h1 class="single-label">Moist Chocolate Cupcakes</h1>
                <p>
                    These moist chocolate cupcakes are made entirely from scratch and are bursting with chocolate flavor! The cupcake is so moist that it melts in your mouth. This Chocolate Cupcake recipe is quite simple to make, and the results are consistently delicious. At birthday parties, these are always the first dessert to vanish. This Chocolate Cupcake Recipe is a must-try for everyone who like homemade cupcakes.
                </p>
                <cite class="recipe-citation">From
                    <a href="https://natashaskitchen.com/easy-chocolate-cupcake-recipe/">Natasha's Kitchen</a>
                    by Natasha Kravchuk
                </cite>
                <div class="recipe-icons">
                    <article>
                        <i class="fa-solid fa-clock" style="color: #e30b5d; font-size: 25px"></i>
                        <h5>Prep. Time</h5>
                        <p>10 min.</p>
                    </article>
                    <article>
                        <i class="fa fa-clock-o" aria-hidden="true" style="color: #e30b5d; font-size: 25px"></i>
                        <h5>Cooking Time</h5>
                        <p>20 min.</p>
                    </article>
                    <article>
                        <i class="fa-solid fa-user-group" style="color: #e30b5d; font-size: 25px"></i>
                        <h5>Serving</h5>
                        <p>12 Cupcakes</p>
                    </article>
                </div>
            </article>
        </section>
        <section class="recipe-content">
            <article class="recipe-ingredient">
                <div>
                    <h4 class="single-label2">Ingredients</h4>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1 1/2 cups all-purpose flour</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1 cup granulated sugar</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1/3 cup natural unsweetened cocoa</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1 tsp baking soda</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1/2 tsp salt</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1 cup warm coffee, or 8 fluid oz</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1 tbsp white distilled vinegar</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1/3 cup olive oil or vegetable oil</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">1 large egg, room temperature</p>
                    </div>
                    <div class="ing-checkbox">
                        <input type="checkbox">
                        <p class="ingredient">2 tsp vanilla extract</p>
                    </div>
                </div>
            </article>
            <article class="instruction-main">
                <h4 class="single-label2">Instructions</h4>
                <div class="instruction">
                    <header>
                        <p>step 1</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Preheat the oven to 350°F and place the rack in the middle. Fill a 12-count muffin tray with cupcake liners.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 2</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Mix the dry ingredients thoroughly in a large mixing bowl, breaking up most of the cocoa clumps.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 3</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            In a second mixing bowl, whisk together wet ingredients.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 4</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Pour the wet ingredients over the dry ingredients and whisk just until everything is combined and there are no dry streaks. The batter will be a little lumpy and loose.
                        </p>
                    </div>
                </div>
                <div class="instruction">
                    <header>
                        <p>step 5</p>
                        <div></div>
                    </header>
                    <div class="ins-checkbox">
                    <input type="checkbox">
                        <p>
                            Fill each cup 2/3 full with batter using an ice cream scoop (do not over-fill). Bake for 18-22 minutes, or until a toothpick inserted in the center comes out clean (20 minutes was perfect). Cool for 5 minutes in the pan before transferring to a cooling rack to cool completely before frosting.
                        </p>
                    </div>
                </div>
            </article>
        </section>
    </div>
</div>

{% endblock %}